@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "DM sans";
  overflow-x: hidden;
}
.child_wrap {
  width: 80%;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex_r {
  justify-content: space-between;
  align-items: center;
}
.flex_col {
  flex-direction: column;
}
.grid {
  display: grid;
}
.btn {
  button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 12px 30px;
    font-size: 1em;
    border-radius: 3px;
    font-family: inherit;
  }
}
h1 {
  font-size: 5em;
  font-weight: bolder;
  font-family: "proxima";
}
