main {
  padding: 3em 0px;
  justify-content: space-between;
  align-items: center;
  background-image: url("../assets/axe.png"), url("../assets/machete.png");
  background-repeat: no-repeat;
  background-position: bottom right, bottom right;
  background-size: 40%;
  .txt_copy {
    width: 60%;
    gap: 2rem 0px;
    h1 {
      font-size: 5em;
      font-weight: bolder;
      font-family: "proxima";
      color: #033e46;
      line-height: 5.8rem;
    }
    p {
      width: 70%;
    }
    .btn {
      button {
        font-size: 1.3em;
        background: rgb(255, 230, 0);
        padding: 1.5rem 2em;
        border: 1px solid black;
      }
    }
  }
  .hero_img {
    width: 40%;
  }
}
